<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header ">
      <a class="navbar-brand logo" href="#"><i class="fab fa-angular fa-2x"></i></a>
      
    </div>
    <ul class="nav navbar-nav">
        <li><a routerLink="/login">Login</a></li>
      <li><a routerLink = "/contact">Contact Us</a></li>
      <li><a routerLink = "/help">Help</a></li>
      <li><a routerLink = "/product">Product Search</a></li>  
    </ul>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a routerLink="/login">Login</a>&nbsp;&nbsp;
            <a routerLink="/contact">Contact Us</a>&nbsp;&nbsp;
            <a routerLink="/help">Help</a>&nbsp;&nbsp;
            <a routerLink="/product">Product Search</a>
        </div>
    </div>
</nav>