<nav class="navbar navbar-expand-lg navbar-light nav-main ">
    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
    <a class="navbar-brand" href="#">Inventory</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class=" fColor navbar-nav ">
            <a routerLink="/login">Login</a>
            <a routerLink="/contact">Contact Us</a>
            <a routerLink="/help">Help</a>
            <a routerLink="/product">Product Search</a>
            <a routerLink="/billing">Billing</a>
        </div>
    </div>
</nav>