.example-full-width {
    width: 60%;
}

.maincontainer {
    margin-top: 7%;
    text-align: center;
}

.main-square {
    width: 450px;
    height: auto;
    display: inline-block;
}

p {
    font-size: small;
    margin-left: -11%;
    margin-top: 2%;
}